.bookListContainer {
  padding: 1.25rem 0 3.125rem 0;
}
.gridContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 1.5rem;
  padding: 1.25rem;
}

.listContainer {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  padding: 1.25rem;
}

.title {
  font-size: 2.25rem;
  margin: 2rem 0;
  text-align: center;
}

.bookList {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  padding-bottom: 2.5rem;
}

.emptyMessage {
  text-align: center;
  font-size: 1.2rem;
  color: var(--c-Brown);
  padding: 2rem;
}
