.title {
    text-align: center;
    padding: 1.875rem 0;
}

.booksGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 230px);
    gap: 1.5rem;
    justify-content: center;
    padding: 1.25rem;
    width: 100%;
}