.pageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
}

.pageTitle {
    margin-bottom: 2rem;
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    width: 100%;
}

.extraLinksContainer {
    margin-top: 2rem;
    text-align: center;
}

.extraLink {
    color: var(--c-Brown);
    text-decoration: none;
    font-size: 0.9rem;
}

.extraLink:hover {
    text-decoration: underline;
    color: var(--c-Orange);
}